# Project specific
config.yml
!.devcontainer/config.yml
*.pyc
__pycache__
.pytest_cache
tests/data/*
!tests/data/.gitkeep

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# macOS
.DS_Store