[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
python-docx = "*"
haystack-ai = "*"
sentence-transformers = "*"
qdrant-haystack = "*"
python-multipart = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
