[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
farm-haystack = "*"
pydantic = "*"
python-docx = "*"
sqlalchemy = "*"
faiss-cpu = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
